/* ESCRITORIO */

@media only screen and (min-width: 960px){

body , html {
  background-color: #565656;
  margin: 0;
  padding: 0;
  font-family: arial;
}

a {
  text-decoration: none;
  color: white;
}

#barra {
  background-color: black;
  font-family: arial;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  right: 0;
}

#destacat {
  height: 130px;
  display: block;
  margin: 0 auto;
  margin-top: -10px;
}

.greenline {
  height: 10px;
  background-color: #009640;
  width: 100%;
  margin: 0;
}

#controlador {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;

}

#play {
  height: 300px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}


#play img {
width: 50px;
height: 50px;
}

#barracontrol li {
  display: inline;
  position: relative;
  margin: 0 auto;

}

#song {
  width: 35%;
  height: 75px;
  background-color: #3a3a3a;
  text-align: center;
  margin: 0 auto;
  margin-top: -200px;
}

#llistasong {
  width: 35%;
  height: 800px;
  background-color: #3a3a3a;
  margin: 0 auto;
  margin-top: 30px;
}

#menu {
  height: 50px;
  background-color: #3a3a3a;
  width: 100%;
  color: white;
  text-align: center;
  margin: 0 auto;
  float: left;
  margin-bottom: 10px;

}

#menu li {
  display: inline;
  position: relative;
  margin: 0 auto;
  margin-left: 5%;
  padding: 16px 32px;
}

.colormenu:hover {
  background-color: gray;
  transition: 0.5s;
}

#inputado {
  margin-left: -25px;
}









#bars {
    height: 30px;
    left: 50%;
    margin: -30px 0 0 -20px;
    margin-left: 10px;
    position: absolute;
    top: 49%;
    width: 40px;
}

.bar {
   background: #666;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }


}




/* MOVIL */

@media only screen and (max-width: 960px){

  body , html {
  background-color: #565656;
  margin: 0;
  padding: 0;
  font-family: arial;
}

a {
  text-decoration: none;
  color: white;
}

#barra {
  background-color: black;
  font-family: arial;
  width: 100%;
  height: 150px;
  top: 0;
  left: 0;
  right: 0;
}

#destacat {
  height: 130px;
  display: block;
  margin: 0 auto;
  margin-top: -10px;
}

.greenline {
  height: 10px;
  background-color: #009640;
  width: 100%;
  margin: 0;
}

#controlador {
  width: 60%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;

}

#play {
  height: 300px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  text-align: center;
}


#play img {
width: 50px;
height: 50px;
}

#barracontrol li {
  display: inline;
  position: relative;
  margin: 0 auto;

}

#song {
  width: 35%;
  height: 75px;
  background-color: #3a3a3a;
  text-align: center;
  margin: 0 auto;
  margin-top: -200px;
}

#llistasong {
  width: 35%;
  height: 800px;
  background-color: #3a3a3a;
  margin: 0 auto;
  margin-top: 30px;
}

#menu {
  height: 100px;
  background-color: #3a3a3a;
  width: 100%;
  color: white;
  text-align: center;
  margin: 0 auto;
  float: left;
  margin-bottom: 10px;

}

#menu li {
  display: inline;
  position: relative;
  margin: 0 auto;
  margin-left: 5%;
  margin-top: 20px;
  padding: 16px 32px;
}

.colormenu {
  padding: 25px;
}

.colormenu:hover {
  background-color: gray;
  transition: 0.5s;
}

#inputado {
  margin-left: -25px;
}









#bars {
    height: 30px;
    left: 50%;
    margin: -30px 0 0 -20px;
    margin-left: 10px;
    position: absolute;
    top: 51%;
    width: 40px;
}

.bar {
   background: #666;
    bottom: 1px;
    height: 3px;
    position: absolute;
    width: 3px;
    animation: sound 0ms -800ms linear infinite alternate;
}

@keyframes sound {
    0% {
       opacity: .35;
        height: 3px;
    }
    100% {
        opacity: 1;
        height: 28px;
    }
}

.bar:nth-child(1)  { left: 1px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 5px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 9px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 13px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 17px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 21px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 25px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 29px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 33px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 37px; animation-duration: 442ms; }


}
