body {
  margin: 0;
  padding: 0;
  background-color: #eaebed;
  font-family: LucidaGrande;
}

#barra {
  height: 43px;
  background-color: #5067af;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

#contingut {
  width: 851px;
  height: 5000px;
  background-color: #eaebed;
  margin: auto;
}

#cap {
  width: 851px;
  height: 371px;
  margin: auto;
  margin-top: 15px;
  background-color: #FFF;

}

#principal {
  width: 851px;
  height: 5000px;
  background-color: #FFF;
  margin-top: 15px;
}

#contingut #cap {
  height: 358px;
  background-color: black;
  background-image: url(img/evolucion.png);
  background-repeat: no-repeat;
  border: solid 1px #DDD;
  border-radius: 3px;

}

#contingut #cap img {
  border-radius: 75%;
  position: relative;
  top: 200px;
  left: 50px;
  box-shadow: 5px 5px 5px #666666;
}

#contingut #cap h2 {
  position: relative;
  top: 70px;
  left: 250px;
  color: black;
  text-shadow: 5px 5px 10px #666666;
}

#contingut #menu {
  height: 43px;
  width: 600px;
  float: right;
  position: relative;
  top: 73px;
  padding: 0;
  margin: 0;
  left: 20px;
  color: #5067af;
}

li {
  float: left;
  margin: 0 0 0 1px;
  list-style-type: none;
  display: block;
  height: 43px;
  padding: 0 15px;
  background-color: #eaebed;
  line-height: 43px;
}

#principal {

}

#principal div {
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  width: 322px;
  margin-top: 12px;
}
