/*version escritorio*/
      @media only screen and (min-width: 960px)  {

body{
  margin: 0;
  padding: 0;
  background-color: #e6e8eb;
}

p {
  font-size: 14px;
}

#barra{
  height: 44px;
  background-color: #3a5ca9;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

#contenedor{
  width: 851px;
  margin: 0 auto;
  height: 3100px;
}

#cap{
  width: 100%;
  height: 232px;
  background-image: url(img/evolucion.png);
  background-size: 100%;
  background-repeat: no-repeat;
}
#cap img{
  position: relative;
  z-index: 49;
  top: 20px;
  left: 21px;
  border-radius: 50%;
  border: solid 4px white;
  box-shadow: 2px 2px 5px black;
}
#cap h2{
  position: relative;
  z-index: 50;
  top: 150px;
  left: 250px;
  color: white;
  font-family: 'Lucida Grande', Tahoma, segoe UI, San Francisco, Roboto;
  text-shadow: 2px 2px 5px black;
}
#cap ul li{
  list-style: none;
  height: 100%;
  border-right: solid lightgrey 1px;
  float: left;
  padding: 0 20px 0 20px;
  position: relative;
  left: 21%;
  line-height: 43px;
  font-family: LucidaGrande;
}
#cap ul{
  background-color: white;
  position: relative;
  top: -33px;
  height: 43px;
  border: 1px solid #DDD;
  border-radius: 3px;
}

#cos{
  width: 100%;
  height: 2828px;
  float: left;
  margin-top: -33px;
}

#esquerra{
  width: 323px;
  float: left;
  height: 1000px;
}

.esquerra{
  width: 299px;
  float: left;
}

#dreta{
  width: 516px;
  float: right;
}

.dreta{
  width: 490px;
  clear: right;
  float: right;
}

.esquerra, .dreta{
  background-color: white;
  border-radius: 3px;
  border: solid 1px #DDD;
  margin-top: 14px;
  padding: 12px;
  font-size: 12px;
}

#presentacio li, #amistats li, #fotos li{
  list-style-type: none;
}

.estudis{
  list-style-image: url(img/icones/icones_estudis.png);
}

.domicili{
  list-style-image: url(img/icones/icones_domicili.png);
}

.treball{
  list-style-image: url(img/icones/icones_feina.png);
}

.neixament{
  list-style-image: url(img/icones/icones_ubicacio.png);
}

#presentacio p{
  padding-bottom: 10px;
  border-bottom: 1px solid #DDD;
}

h3{
  text-indent: 30px;
  height: 24px;
  background-image: url(../img/lateral.png);
  background-repeat: no-repeat;
  background-size: 24px;
  line-height: 1.8em;
}

#amistats h3{
  background-position: 0 -48px;
}

#amistats ul{
  padding: 0;
  margin: 0;
}

#amistats ul li{
  width: 94px;
  height: 94px;
  background-color: red;
  float: left;
  margin: 2px;
  position: relative;
}

#fotos h3{
  background-position: 0 -24px;
}

#sabias h3{
  background-position: 0 -72px;
}

#vic {
  background-image: url(img/vic.png);
}

#noe {
  background-image: url(img/noe.jpg);
}

#nacho {
  background-image: url(img/nacho.jpg);
}

#mario {
  background-image: url(img/mario.jpg);
}

#steeven {
  background-image: url(img/steeven.jpg);
}

#oriol {
  background-image: url(img/oriol.png);
}

#patri {
  background-image: url(img/patri.gif);
}

#adri {
  background-image: url(img/adri.jpg);
}

#yaiza {
  background-image: url(img/yaiza.jpg);
}

#amistats a:link {
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 0;
}

#amistats a:visited {
  color: white;
  text-decoration: none;
}


#publicacio ul li{
  padding: 0 40px 0 20px;
  font-size: 14px;
  align-items: center;
  position: relative;
  list-style: none;
  float: left;
}

#pensant p{
  align-items: center;
  padding: 0 40px 0 20px;
}

#crear {
  padding: 12px;
  height: 38px;
  background-color: #f5f5f7;
  margin: 0;

}

#crear li {
  list-style: none;
  height: 38px;
  margin: 0 0 0 1px;

  font-size: 12px;
  line-height: 48px;
  float: left;
  background-color: white;
  text-indent: 24px;
}

#pensament {
  display: block;
  clear: left;
  padding: 12px;
  width: 80%;
  margin-left: 15px;
  border: 0;
}

#publica {
  background-image: url(img/btnl.jpg);
  background-repeat: no-repeat;
  background-position: 4px 13px;
}

#pujafoto {
  background-image: url(img/btnc.jpg);
  background-repeat: no-repeat;
  background-position: 4px 13px;
}

#pujavideo {
  background-image: url(img/btnv.jpg);
  background-repeat: no-repeat;
  background-position: 4px 13px;
}

#aconteixement {
  background-image: url(img/btnb.jpg);
  background-repeat: no-repeat;
  background-position: 4px 13px;
}

#botonera_estat {
  height: 40px;
  width: 490px;
  float: left;
  background-color: #f5f5f7;
  padding: 12px;
  margin: 0;
  top: 0;
  left: 0;
  position: relative;
  width: 95%;
}

#botonera_estat li {
  list-style: none;
  height: 40px;
  margin: 0 0 0 1px;
  background-position: 4px 13px;
  font-size: 12px;
  line-height: 48px;
  float: left;
  background-color: white;
  text-indent: 34px;
}

#estat_fotovideo {
  background-image: url(img/smile.jpg);
  background-repeat: no-repeat;
}

#estat_etiquetar {
  background-image: url(img/vistes.jpg);
  background-repeat: no-repeat;
}

#estat_sentiment {
  background-image: url(img/persona.jpg);
  background-repeat: no-repeat;
}

#estat_mes {

}

#botonera_estat li:hover{

}

#image ul li{
width: 82px;
height: 82px;
background-color: red;
float: left;
margin: 2px;
position: relative;
list-style: none;
}

.entrada h6 {
  text-indent: 20px;
  background-image: url(img/like.jpg);
  border-bottom: 1px solid grey;
}

.entrada ul {
  width: 100%;
  overflow: hidden;
  height: 40px;
  overflow: hidden;
  padding: 0 12px;
  background-color: red;
}

.entrada ul li {
  display: list-item;
  list-style-image: url(img/icones/like.jpg);
  float: left;
  margin-left:
}

.entrada input {
  display: block;
  clear: both;
  background-color: #e9ebed;
  border: solid grey 1px;
  border-radius: 24px;
  line-height: 2em;
  padding: 8px;
  font-size: 1.5em;
  margin-left: 60px;
  width: 87%;
}

.entrada input::after {
  content: "";
  bac
  width: 40px;
  height: 40px;
  position: relative;
  top: -50px;
  left: -50px;
  z-index: 4000;
}

#foto1 {
  background-image: url(img/vape/1.jpg);
}

#foto2 {
  background-image: url(img/vape/2.jpg);
}

#foto3 {
  background-image: url(img/vape/3.jpg);
}

#foto4 {
  background-image: url(img/vape/4.jpg);
}

#foto5 {
  background-image: url(img/vape/5.jpg);
}

#foto6 {
  background-image: url(img/vape/6.jpg);
}

#foto7 {
  background-image: url(img/vape/7.jpg);
}

#foto8 {
  background-image: url(img/vape/8.jpg);
}

#foto9 {
  background-image: url(img/vape/9.jpg);
}

#agrada {
  list-style-image: url(img/icones/like.jpg);
}

#comenta {
  list-style-image: url(img/icones/coment.jpg);
}

#comparteix {
  list-style-image: url(img/icones/share.jpg);
}

#mes {
  list-style-type: none;
}

.botonera li {
  display: inline-block;
  margin-right: 50px;
}

}







/*version movil*/
      @media only screen and (max-width: 959px) {
        body {
          margin: 0;
          padding: 0;
          background-color: #FFF;
          font-family: LucidaGrande;
          overflow-x: hidden; 
        }

        #barra {

        }
        #contingut {


        }
        #cap {
          background-image: url(img/evolucion.png);
            width: 100%;
            height: 232px;
            background-image: url(img/evolucion.png);
            background-size: 100%;
            background-repeat: no-repeat;
        }

        #contenedor #cap {
          height: 254px;
          background-image: url(img/evolucion.png);
          background-repeat: no-repeat;
          background-size: 100% auto;
          text-align: center;
          background-color: red;
        }


        #contenedor #cap img {
          width: 162px;
          height: 162px;
          border-radius: 50%;
          border: solid 4px white;
          text-align: center;
          margin: auto;
          margin-top: 173px;
          background-image: url(img/evolucion.png);
        }
        #cos {
          margin-top: 262px;
        }
        #contingut #cap h2
        {
          font-size: 28px;
          font-weight:
        }

        #contingut #menu {

        }

        #menu li {

        }

        #seccions {


        }

        .esquerra {


        }

        .dreta {


        }

        .esquerra, .dreta {

        }

        #presentacio {

        }

        #principal  li {
          background-color: red;
          list-style-type: none;
          width: 60%;
          font-size: 20px;
          margin: 0 auto;
        }

        #amistats {

        }

        #presentacio, #amistats, #fotos {

        }

        #seccions h3 {

        }

        #presentacio p {


        }

        #presentacio h3 {

        }

        #amistats h3 {

        }

        #surprise h3 {

        }

        #presentacio .estudis {


        }

        #presentacio .domicili {


        }

        #presentacio .sentimental {

        }

        #amistats ul li {


        }

        a: hover {

        }

        #yaiza {
        background-image: url(img/yaiza.jpg)
        }

        #oriol {
        background-image: url(img/oriol.png)
        }

        #noe {
        background-image: url(img/aaron.jpg)
        }

        #nacho {
        background-image: url(img/nacho.jpg)
        }

        #mario {
        background-image: url(img/mario.jpg)
        }

        #vic {
        background-image: url(img/vic.png)
        }

        #patri {
        background-image: url(img/patri.gif)
        }

        #patri {
        background-image: url(img/patri.gif)
        }

        #steeven {
        background-image: url(img/steeven.jpg)
        }


        #crear {


        }

        #estat #crear li{

        }

        #pensar {


        }

        #botonera_estat {

        }

        #botonera_estat li {

        }

        #estat_fotovideo {

        }

        #estat_etiquetar {

        }

        #estat_sentimiento {

        }

        #botonera_estat li:hover {

        }
        #publica {

        }

        #publica_foto {

        }

        #publica_video {

        }

        #publica_aconteixement {

        }

        #crear li {

        }

        .entrada h4 {

        }

        .entrada h5 span {

        }

        .entrada h5 {

        }

        .entrada h6 {

        }

        .entrada ul {

        }

        .entrada ul li {

        }

        .entrada input::after {

        }

        #like {
          list-style-image: url(iconetes/like.png);
        }

        #comenta {
          list-style-image: url(iconetes/comment.png);
        }

        #compartir {
          list-style-image: url(iconetes/share.png);
        }

        #mes {
          list-style-image: none;
        }

}

/*
width
min-width
max-width

height
min-height
max-height

aspect-decoration

landscape
portrait

color-gamut
monochrome

max-resolution
min-resolution
*/
